*
{
	padding: 0px;
	margin: 0px;
}
nav a
{
	font-family: 'K2D', sans-serif;
}	
nav a p
{
	font-family: 'Charmonman', cursive;
}
.img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 600px;
    padding-top: 10px;
    padding-bottom:10px;
}
.PP
{
	width: 30%;
	border-radius: 50%
}

body
{
	background-color:#f2fff4;
}
header h1
{
	font-family: 'Charmonman', cursive;
}
.img1
{
	width: 450px;
	height: 400px;
	padding-left: 40px;
	border-radius:20px;
}
.img2
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 600px;
    padding-top: 10px;
    padding-bottom:10px;  
}
footer .w3-card
{
 	padding-left: 50px

}
footer i
{
	padding-left: 20px;
}
button
{
	font-family: 'K2D', sans-serif;
}